.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 90.64vw;
    margin: 48px 4.68vw 0 4.68vw;
}

@media screen and (min-width: 1280px) {
    .lead {
        width: 984px;
        margin-left: calc((100vw - 984px) / 2);
        margin-right: calc((100vw - 984px) / 2);
    }
}