.lead {
    width: 90.64vw;
    margin: 48px 4.68vw 0 4.68vw;
    
    display: grid;
    grid-template-areas: "title" "subtitle" "image" "caption";
    grid-template-columns: minmax(768px, 984px);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

@media screen and (min-width: 1280px) {
    .lead {
        width: 984px;
        margin-left: calc((100vw - 984px) / 2);
        margin-right: calc((100vw - 984px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
    }
}