.cover__subtitle {
    width: 360px;
    height: 66px;
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    margin: 0;
}