.intro {
    margin-top: 92px;
    margin-left: 4.68vw;
}

@media screen and (min-width: 1280px) {
    .intro {
        margin-left: calc((100vw - 984px) / 2);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin-left: 3.125vw;
        margin-top: 88px;
    }
}

@media screen and (max-width: 680px) {
    .intro {
        margin-top: 64px;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}