.lead__subtitle {
    width: 640px;
    height: 72px;
    font-family: Inter;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 56px;
}