.cover {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 640px;
    margin-top: 92px;
    text-decoration: none;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}