.header__lang-list {
    display: flex;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .header__lang-list {
        margin-bottom: 4px;   
    }
}