.cover__background {
    display: flex;
    position: absolute;
    width: 1024px;
    height: 640px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    border: green 1px solid;
    z-index: 1;
}