.cover__background {
    display: flex;
    position: absolute;
    width: 1024px;
    height: 640px;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    z-index: 1;
    left: 0;
    top: 0;
}