.lead__caption {
    display: flex;
    position: absolute;
    left: 48px;
    bottom: 0;
    font-family: Inter;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}