.place {
    display: grid;
    grid-template-areas:
        "title website"
        "image text";
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    grid-template-rows: 1fr minmax(340px, 460px);
    justify-content: center;
    column-gap: 32px;
    row-gap: 48px;
    width: 100%;
    height: 640px;
    margin-top: 92px;
}

.place + .place {
    margin-top: 80px;
}

@media screen and (min-width: 1280px) {
    .place {
        column-gap: 40px;     
    }
}